.signup--form {
  // background: grey;
  opacity: 0.8;
  max-width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
  padding: 0;
  grid-template-areas:
    "firstname firstname"
    "lastname lastname"
    "email email"
    "password password"
    "buttons-a buttons-b";
  .firstname {
    grid-area: firstname;
  }
  .lastname {
    grid-area: lastname;
  }
  .email {
    grid-area: email;
  }
  .password {
    grid-area: password;
  }
  .submit {
    grid-area: buttons-b;
    background: $color-primary;
  }
  .change {
    grid-area: buttons-a;
    background: $color-bg-light;
  }
  .pry-btn {
    border-radius: $border-radius-2;
    border: none;
    color: $color-info;
    font-size: 1rem;
  }
  span {
    background: $color-bg;
    border-radius: $border-radius-2;
    padding: 0.2rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 2rem;
    grid-template-areas:
      "label icon"
      "input icon";
    align-items: center;
    border: 0.15rem $color-bg solid;
    position: relative;
    &.active {
      border: 0.15rem $color-danger solid !important;
      grid-area: email;
    }
    &.activepassword {
      border: 0.15rem $color-danger solid !important;
      grid-area: password;
    }
    &:focus-within {
      border: 0.15rem $color-primary solid;
    }

    .error {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $color-danger;
      font-size: 0.8rem;
      transform: translate(0, 1.7rem);
      text-align: center;
      line-height: 0.7rem;
    }
    label {
      grid-area: label;
      height: auto;
      color: $color-bg-light;
      font-weight: 600;
    }
    button {
      grid-area: icon;
      background: transparent;
      display: grid;
      place-items: center;
      border: none;
      .form--icons {
        font-size: 1.5rem;
        display: grid;
        color: $color-info;
        cursor: pointer;
      }
    }
    .signup--input {
      grid-area: input;
      border: none;
      background: transparent;
      color: $color-info;
      outline: none;
      &:focus + label {
        color: $color-primary;
      }

      &::placeholder {
        color: $color-info;
        font-weight: 200;
      }
    }
  }
}
